.nav-cont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    /* border-bottom: 1px solid grey; */
    background-color: rgb(2, 1, 36);
    height: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.nav{
    color: white;
    text-decoration: none;
    margin: 1rem;
    
    
}

.route-links{
    margin-top: 1.5rem;
}


.nav:hover{
    color: aqua;
}